@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ffff99;color:#000;text-decoration:none;}
mark{background-color:#ffff99;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #cccccc;margin:1em 0;padding:0;}
input, select{vertical-align:middle;}
body{
	background-color: #3C6893;
	color: #555753;
	font-family: "Ubuntu",sans-serif;
	font-size: 14px;
    letter-spacing: 1px;
	line-height: 18px;
}
#background-image {
	position:fixed;
	top:0;
	left:0;
	z-index:1;
}
footer,header,section {
	margin-left: 240px;
	position: relative;
	width: 720px;
	z-index: 2;
}
header {
	height: 45px;
	padding-left: 40px;
	padding-top: 55px;
	text-align: right;
}
header h1 {
    color: #FFFFFF;
    font-family: 'Qwigley',cursive;
    font-size: 76px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: .1em;
    text-shadow: 0 1px 4px #000000;
}
header h1 span {
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-style: normal;
    font-weight: normal;
}
section {
	background-color:#fff;
	border: 2px solid #072f56;
	border-bottom:none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:20px 20px 8px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
    -webkit-border-radius-topleft: 20px;
	-webkit-border-radius-topright: 20px;
    -khtml-border-radius-topleft: 20px;
	-khtml-border-radius-topright: 20px;
}
section h2 {
	color: #072F56;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
	margin: 20px 0 30px;
}
section p {
	margin: 8px 0;
}
section ul,
section ol{
	list-style-position: inside;
    padding-left: 5px;
}
section ul li span {
	float: right;
    width: 580px;
}
footer {
	background-color:#fff;
	border:2px solid #072f56;
	border-top:none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
    margin-bottom: 25px;
	padding:16px 20px 20px;
    position: relative;
	text-align: right;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
    -webkit-border-radius-bottomleft: 20px;
	-webkit-border-radius-bottomright: 20px;
    -khtml-border-radius-bottomleft: 20px;
	-khtml-border-radius-bottomright: 20px;
}
footer p {
	color: #072F56;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
	margin-right: 30px;
}
footer .flare-icon {
    position: absolute;
    bottom: 0;
    left: 0;
}